body{
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    background-color:#5988FF;
    color:#FFFFFF;
}
h1{
    color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}